# Godot 4+ specific ignores
.godot/
/android/
logs/

# Python virtual environments
venv/
.venv/
__pycache__/
*.pyc

*.zip
*.MOV
*.mov
*.aiff
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.m4b
*.m4p
*.m4v
*.m4b
*.m4p
*.m4v
*.m4b
*.m4p
*.m4v